/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Bree Serif', serif;

}
html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
#navbar{
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Bree Serif', serif;
}
/* Navigation Bar LOGO and IMAGE */
#logo{
    margin: 1px 15px;
}
#logo img{
    margin: 0px 7px;
    height: 65px;
}
/* Navigation Bar LIST */
#navbar::before{
     content: "";
     background-color: black;
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0px;
     left: 0px;
     z-index: -1;
     opacity: 0.7;
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 5px 22px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}
#navbar ul li a:hover{
    color: black;
    background: white;
}

/* Home */

#home{
    display: flex;
    padding: 3px 200px;
    height: 430px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: lighter;
}
#home::before{
    content: "";
     background:url('../IMAGES/background2.jpg') no-repeat center center/cover;
     position: absolute;
     height: 490px;
     width: 100%;
     top: 0px;
     left: 0px;
     z-index: -1;
     opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.4rem;
}
/* Services Section */
#services-container h1{
    padding: 0px;
}
#services{
    margin: 35px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 33px;
    margin: 3px 6px;
    border-radius: 25px;
    background: rgb(241, 233, 233) ;
}
#services .box img{
    height: 120px;
    display: block;
    margin: auto;
}
/* Clients Section */
#client-section{
    height: 344px;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clients img{
    height: 130px;
}
.client-items{
    padding: 40px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../IMAGES/bg3.jpg);
    height: 344px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
/* Watermark */
#watermark{
    position: fixed;
    left: 0px;
    top: 200px;
    font-size: 2rem;
    background: rgba(0, 0, 255, 0.76);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 3px 7px;
    color: white;
}
/* Contact Us */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../IMAGES/contact1.jpg')no-repeat center center/cover;
    z-index: -1;
    opacity: 0.4;
}
#contact-box{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 34px;
} 
#contact-box input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.9rem;
}
#contact-box textarea{
   width: 100%;
   padding: 0.5rem;
   border-radius: 10px;
   font-size: 1rem;
}
#send{
    width: 100%;
    margin: 10px 5px;
    font-size: 2.2rem;
}
#contact-box form{
   width: 40%;
}

footer{
    background: black;
    color: white;
    padding: 3px 20px;
    opacity: 0.7;
}
/* Utility Classes */
.h-primary{
    font-size: 3rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2rem;
}
.center{
    text-align: center;
}
.btn{
    padding: 7px 20px;
    border: 2px solid white;
    background: brown;
    color:white;
    margin: 17px ;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
}